NODE_ENV=production
MONGODB_URI=mongodb+srv://DB_USER:DB_PASSWORD@CLUSTER_HOST/dr_elias_clinic?retryWrites=true&w=majority
JWT_SECRET=REPLACE_THIS_WITH_A_LONG_RANDOM_STRING_AT_LEAST_32_CHARACTERS
JWT_EXPIRES_IN=12h
JWT_RECEPTION_EXPIRES_IN=6h
JWT_PATIENT_EXPIRES_IN=7d
